<div data-options="dxView: { name: 'guidelines-tile' }">
    <div class="tile-title">Guidelines</div>
    <div class="tile-link-list">
        <ul data-bind="foreach: currentProcedure.guidelines">
            <li class="link-list-item">
                <span data-bind="dxButton: { icon: 'favorites', clickAction: function(evt) { MyApp.db.ryansLibrary[3].items.push(evt.model); } }"></span>
                <span>&nbsp;</span>
                <a data-bind="attr: { href: url }, text: name"></a>
            </li>
        </ul>        
    </div>
</div>