.tile-row {
    clear: both;
    width: 100%;
}

.view-container {
    width: 100%;
}

@media only screen and (max-width: 360px) {
    .tile-row {
        height: 300px;
    }
}

@media only screen and (min-width: 361px) and (max-width: 598px) {
    .tile-row {
        height: 300px;
    }
}

@media only screen and (min-width: 599px) and (max-width: 601px) {
    .tile-row {
        height: 300px;
    }  
}

@media only screen and (min-width: 602px) and (max-width: 962px) {
    .tile-row {
        height: 450px;
    }    
}

@media only screen and (min-width: 963px) and (max-width: 1600px) {
    .tile-row {
        height: 450px;
    }    
}

.procedure-add, .add-to-library-button {
    float: right;
    margin-right: 5px;
}

.procedure-title {
    padding-left: 3%;
}

.procedure-header {
    padding-right: 3%;
}

.tile, .tile-widget-placeholder, .tile-widget, .tile-content {
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 602px) and (max-width: 962px) {
    .tile {
        width: 46%;
    }    
}

@media only screen and (min-width: 963px) and (max-width: 1600px) {
    .tile {
        width: 46%;
    }    
}

.tile {
    padding: 2%;
    float: left;
    margin-bottom: 80px;
}

/* todo: make this pretty and make platform-specific versions */
.tile-title {
    padding: 2px;
}