<div class="tile-widget" data-options="dxView: { name: 'images-tile' }">
    <div class="tile-title dx-clearfix"><span>Image Gallery </span></div>
    <div class="tile-content">
        <div class="add-to-library-button" data-bind="dxButton: { icon: 'favorites', text: 'Add image to Favorites', clickAction: function(_ignored) { addImage($('#photo-gallery').dxGallery('instance').option('selectedIndex')); } }"></div>
        <div id="photo-gallery" data-bind="dxGallery: { dataSource: currentProcedure.photos, height: '100%', width: '100%' }"></div>        
    </div>
</div>