<div data-options="dxView: { name: 'procedure', title: 'PROCEDURE' }">
    <div class="procedure-header">
        <span class="procedure-title" data-bind="text: procedureName"></span>
        <div class="procedure-add"><div data-bind="dxButton: { text: 'Add entire procedure to Favorites', icon: 'favorites', clickAction: function () { addProcedure(); } }"></div></div>
    </div>
    <div style="clear: both"></div>
    <div class="tiles view-container" data-bind="dxScrollView: {}">
        <div class="tile-row">
            <div class="tile images">
                <div class="tile-widget-placeholder" data-options="dxViewPlaceholder: { viewName: 'images-tile' }"></div>
            </div>
            <div class="tile links">
                <div data-options="dxViewPlaceholder: { viewName: 'linkstile' }"></div>
            </div>
        </div>
        <div class="tile-row">
            <div class="tile guidelines">
                <div data-options="dxViewPlaceholder: { viewName: 'guidelines-tile' }"></div>
            </div>
            <div class="tile videos">
                <div class="tile-widget-placeholder" data-options="dxViewPlaceholder: { viewName: 'videos-tile' }"></div>
            </div>
        </div>
    </div>
</div>